body {
  font-size: 16px;
  padding-top: 60px;
  padding-bottom: 40px;
}
textarea {
  font-family: Monaco,Consolas,monospace;
  font-size: 14px;
  width: 700px;
}
code {
  font-size: 14px;
}
.post code {
  maring: 5px;
}
span.inc, span.dec {
  font-size: 14px
  font-weight: bold;
  padding: 0px 2px;
}
.nav li.active {
  padding-top: 9px;
}
.navbar span {
  color: white;
  text-decoration: none;
  background-color: #222;
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
span.language-label {
  font-weight: bold;
  font-size: 13px;
}
#add-comment-button {
  margin: 0px 0px 20px;
}
#add-comment {
  width: 500px;
}