body {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 40px;
}
textarea {
  font-family: Monaco,Consolas,monospace;
  font-size: 14px;
  width: 700px;
}
code {
  font-size: 14px;
}
.post code {
  maring: 5px;
}
.post pre {
  padding: 0px;
}
span.inc, span.dec {
  font-size: 14px
  font-weight: bold;
  padding: 0px 2px;
}
span.language-label {
  font-weight: bold;
  font-size: 13px;
}
#add-comment-button {
  margin: 0px 0px 20px;
}
#add-comment {
  width: 500px;
}
.compile-error {
  color: red;
  padding-bottom: 20px;
}
div .unseen {
  background-color: #FFF9DF;
}