body {
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
}
textarea {
  font-family: Menlo,Monaco,Consolas,Inconsolata,monospace;
  font-size: 13px;
  width: 700px;
}
code {
  font-size: 13px;
}
.code-table, .num-column {
  border: 1px solid #D2D2D2;
}
.code-table {
  width: 100%;
  margin-bottom: 5px;
}
.num-column {
  width: 25px;
}
.line-nums {
  list-style: none;
  text-align: right;
  margin-left: 0px;
  font-size: 13px;
  font-family: Menlo,Monaco,Consolas,Inconsolata,monospace;
  color: #0000ff;
}
.post code {
  padding-left: 3px;
  border: none;
}
.post pre {
  padding: 0px;
  border: none;
}
span.vote-on, span.vote-against {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 2px;
}
span.language-label {
  font-weight: bold;
  font-size: 13px;
}
#add-comment-button {
  margin: 0px 0px 20px;
}
#add-comment {
  width: 500px;
}
ul.comments {
  list-style: none;
}
.date {
  font-style: italic;
  font-size: 14px;
  color: gray;
}
.avatar {
  width: 48px; height: 48px;
  border: 1px solid #eee;
}
.comment-meta {
  font-size: 13px;
}
.comment-container {
  margin-left: 80px;
}
.reply {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}
.foldSubtree, .expandSubtree {
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  float: right;
}
.compile-error {
  color: red;
  padding-bottom: 20px;
}
.comment-text {
  word-wrap: break-word;
}
.pagination {
  font-size: 15px;
}
div .unseen {
  background-color: #FFF9DF;
